In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stat

In [2]:
data = pd.read_csv('Sales_add.csv')

In [3]:
data.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

In [5]:
data.isnull().sum()

Month                             0
Region                            0
Manager                           0
Sales_before_digital_add(in $)    0
Sales_After_digital_add(in $)     0
dtype: int64

In [6]:
data.shape

(22, 5)

# The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.

# one-tailed two sample independent test

H0 : There is no increase in sales after stepping into digital marketing.

H1 : There is an increase in sales after stepping into digital marketing.

Let the level of significance be 0.05

In [7]:
t_stat,pvalue=stat.ttest_ind(data["Sales_After_digital_add(in $)"],data["Sales_before_digital_add(in $)"],alternative='greater')

In [8]:
print('T statistics value is:',t_stat)
print('pvalue is:',pvalue)

T statistics value is: 12.995084451110877
pvalue is: 1.3071840034523225e-16

In [9]:
if pvalue<0.05:
    print('Reject the null hypothesis')
else:
    print('Accept the null hypothesis')

Reject the null hypothesis

Hence there is an increase in the sales after stepping into digital marketing

# The company needs to check whether there is any dependency between the features “Region” and “Manager”.

# chi-squared test

H0 : There is no dependency between the features of 'Region' and 'Manager'

H1 : There is dependency between the features of 'Region' and 'Manager'

In [10]:
crosstab = pd.crosstab(data['Region'],data['Manager'])
crosstab

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [11]:
chi_squared_value,p_value,dof,expected_values=stat.chi2_contingency(crosstab)

In [12]:
print('The chi squared value is',chi_squared_value)
print('The p value is',p_value)
print('The degree of freedom is',dof)
print('The expected values are',expected_values)

The chi squared value is 3.050566893424036
The p value is 0.5493991051158094
The degree of freedom is 4
The expected values are [[4.09090909 3.18181818 2.72727273]
 [2.86363636 2.22727273 1.90909091]
 [2.04545455 1.59090909 1.36363636]]

In [13]:
if p_value<0.05:
    print('Reject the null hypothesis')
else:
    print('Accept the null hypothesis')

Accept the null hypothesis

Hence there is no dependency between the features of “Region” and “Manager”, that is they are independent.